body {
  margin: 0px;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
}

.case {
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 5px solid blue;
}

table {
  background-color: blue;
  margin-left: 35%;
  margin-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0%;
  padding-bottom: 2%;
}

#error {
  color: red;
  font-size: 30px;
  text-align: center;
}

#win {
  position: fixed;
  left: 20%;
  top: 20%;
  font-size: 86px;
  padding: 3%;
  background: #ffffffee;
}

.restart{
  text-align: center;
  font-size: 36px;
}
