<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Puissance 4</title>
  <!-- on inclut la bibliothèque depuis les serveurs de Google -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}">
  <style>
    .choix:hover{
      cursor:pointer;
    }
    .lien{
      text-decoration: none;
      background-color:blue;
      border-radius:50px;
      padding:5%;
      font-size:50px;
      width:40%;
      height:70%;
    }
    .lien:hover{
      border: 2px black solid
    }
  </style>
</head>


<body style="background-color: blue;">
<h1 style="text-align:center;font-size:50px;color:white;">Puissance 4</h1>
<br />
<br />
<br />
  <div style="display:flex;justify-content:space-evenly;align-items:center;">
    <a class="lien" href="{{url_for('jeu')}}">
      <div class="choix" style="color:#ffce25;">
      <p>
        Jouer à 2 👫
        </p>
      </div>
    </a>
    <a class="lien" href="{{url_for('jeu')}}">
    <div class="choix" style="color:#ef2020">
      <p>
        Jouer contre l'ordinateur 💻
        </p>
    </div>
    </a>
  </div>
</body>

</html>
