<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Puissance 4</title>
  <script src="{{url_for('static',filename='js/main.js')}}" type="text/javascript"></script>
  <style>
  .case{
    background-color:white;
    border-radius:50%;
    height:50px;
    width:50px;
    border: 5px solid blue;
  }
  #fleche{
    height:50px;margin-left: 36%;
  }
  </style>
</head>
<body onkeydown="touche(event);" style="margin:0px;padding-top:2%;padding-bottom:2%;width:100%;">
  <img id="fleche" src="{{url_for('static',filename='image/fleche.png')}}"  />
    <table style="background-color:blue;margin-left:35%;margin-top:2%;padding-left:1%;padding-right:1%;padding-top:0%;padding-bottom:2%;">
      {%for ligne in matrice%}
      <tr>
        {%for case in ligne%}
        <td class="case">{{case}}</td>
        {%endfor%}
      </tr>
      {%endfor%}
    </table>
</body>
</html>
