<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Puissance 4</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}">
</head>

<body>
  <table>
    {%for ligne in matrice%}
    <tr>
      {%for case in ligne%}
      <td class="case" style="
        background-color: 
        {%if case=='X'%}
          #ef2020
        {%elif case=='O'%}
          #ffce25
        {%else%}
          #ffffff
        {%endif%};
      "></td>
      {%endfor%}
    </tr>
    {%endfor%}
  </table>
</body>

</html>
