<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Puissance 4</title>
  <!-- on inclut la bibliothèque depuis les serveurs de Google -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}">
</head>

<body>
  <div id="contentRefresh">
    {%if win%}
      {% include "end.html" with context %}
    {%else%}
        {% include "refresh.html" with context %}
    {%endif%}
  </div>
  <button class="restart" onclick="window.location.replace('{{url_for('rejouer')}}');">Rejouer</button>
</body>

</html>
